body {
  background-image: url(rest-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.keys {
  align-items: center;
  display: flex;
  flex: 1;
  min-height: 100vh;
  justify-content: center;
  padding: 3px;
}

.key {
  align-content: center;
  border: 3px solid #d66c09dc;
  margin: 1rem;
  padding: 1rem 0.5rem;
  transition: all 0.7s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 4);
  text-shadow: 0 0.5rem black;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem#ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
